.background {
 width: 100vw;
 height: 100vh;
 display: flex;
 padding-top: 5%;
 flex-direction: row;
 justify-content: space-between;
 overflow: hidden;
}

.HomeH2 {
    padding-left: 23%;
}


@media screen and (min-width: 1700px) {
        .background {
            padding-left: 1%
        }
    }
    