.GheedStore {
    width: 30.3rem;
    max-width: 600px; /* Set the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in the total width */
    position: relative;
    /* Define the container's background color or any other styles */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the image horizontally */
  }

  .gheedbackground {
    width: 100%; /* Make the image responsive and fit its container */
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Remove any default inline styling on images */
    margin: 0 auto; /* Center the image horizontally */
  }

  .unhoveredCoronet {
    width: 13%; /* Adjust the width to make it smaller */
    height: auto; /* Automatically adjust the height while maintaining aspect ratio */
    position: absolute;
    top: 65.1%; /* Adjust to position vertically */
    left: 57.7%; /* Adjust to position horizontally */
    transform: translate(-50%, -50%); /* Center the image relative to its parent */
    /* Additional styles as needed */
  }

  @media (min-width: 880px) and (max-width: 990px) {
    .unhoveredCoronet {
      max-width: 77%; /* Adjust the maximum width for smaller screens */
      top: 65%;
    }
  }


  @media (min-width: 780px) and (max-width: 880px) {
    .unhoveredCoronet {
      max-width: 77%; /* Adjust the maximum width for smaller screens */
      top: 65.7%;
    }
  }

  @media (min-width: 710px) and (max-width: 779px) {
    .unhoveredCoronet {
      max-width: 67%; /* Adjust the maximum width for smaller screens */
      top: 66.3%;
    }
  }
  @media (min-width: 680px) and (max-width: 710px) {
    .unhoveredCoronet {
      max-width: 39%; /* Adjust the maximum width for smaller screens */
      top: 66.6%;
    }
  }
  @media (min-width: 500px) and (max-width: 680px) {
    .unhoveredCoronet {
      max-width: 12%; /* Adjust the maximum width for smaller screens */
      top: 66.5%;
      left: 57%;
    }
  }
  @media (min-width: 400px) and (max-width: 499px) {
    .unhoveredCoronet {
      max-width: 11%; /* Adjust the maximum width for smaller screens */
      top: 68%;
      left: 56.7%;
    }
  }