
  .gheedbackground {
    width: 50%; /* Make the image responsive and fit its container */
    height: auto;
    float: left;
    padding-left: 20%;
  }

       .unhoveredCoronet {
    height: 8%;
    position: absolute;
    top: 60%; /* Adjust to position vertically */
    left: 35.7%; /* Adjust to position horizontally */
    transform: translate(-50%, -50%); /* Center the image relative to its parent */
    /* Additional styles as needed */
  }
