.Inventory {
    width: 30rem;
    max-width: 600px; /* Set the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in the total width */
    position: relative;
    /* Define the container's background color or any other styles */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the image horizontally */
  }

  .Inventory img {
    width: 100%; /* Make the image responsive and fit its container */
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Remove any default inline styling on images */
    margin: 0 auto; /* Center the image horizontally */
  }