@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400&display=swap');
:root {
  --vh: 100vh; /* fallback за desktop */
}

@media (max-width: 600px) {
  :root {
    --vh: 100%; /* временно, ще се пресметне в JS */
  }
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; /* блокира хоризонталния скрол */
}

h1, p , .content-section h1 {
  font-family: 'Poppins', sans-serif; /* заглавия */
}

*, *::before, *::after {
  box-sizing: inherit;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100vh; /* расте с контента */
  text-align: center;
  overflow-x: hidden;
  overflow-y: visible; /* скрол на съдържанието */
  
  background-image: url('./assets/1.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* Анимации зад съдържанието */
.animations {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh; /* реална височина на viewport */
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}
/* Контейнери с текст */
.content-section {
  position: relative;
  z-index: 5;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.7s ease-out;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.445);
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(248, 248, 248, 0.6);
}

.content-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-line {
  display: block;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.content-section.visible .fade-line {
  opacity: 1;
  transform: translateY(0);
}

/* Бутон */
.invite-button {
  display: block;
  margin: 2rem auto 1rem auto; /* центриране и отстояние отдолу */
  background: #ff69b4;
  border: none;
  color: white;
  font-size: 18px;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.invite-button:hover {
  background: #ffc74f;
}

/* Mobile */
@media (max-width: 600px) {
  .app {
    background-position: top center;
  }

  h1 {
    font-size: 1.2rem;
    white-space: normal; /* позволяваме пренасяне на редове */
  }

  .content-section {
    width: 90%;
    padding: 15px;
    font-size: 14px;
  }

  .invite-button {
    position: relative; /* вече не е fixed */
    width: 80%;
    padding: 1rem;
    font-size: 16px;
    margin: 2rem auto 1rem auto; /* отстояние отдолу */
  }
}