@import url('https://fonts.cdnfonts.com/css/diablo');

/* Reset default margin and padding */
body, html {
  margin: 0;
  padding: 0;
}

/* Set a background color for the entire page */
.App {
  background-image: url("https://wallpapers.com/images/featured/diablo-2-resurrected-y2kyo5vzff6o8nkn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;

}
.main-container {
  width: 100%;
  height: fit-content;
  opacity: 0;
  transition: opacity 1s ease-in-out;

}

.main-container.visible {
  opacity: 1;
}


h2 {
  font-family: 'Diablo', sans-serif;
  color:red;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.link {
  text-decoration: none;
}
.link img {
  width: 200px;
  cursor: url('./asets/cursor.png'), auto;
}